
# Ignore temporary Emacs files
*~

#Ignore Eclipse directories
.settings
.project
.classpath
.pydevproject
.metadata

# Exclude build directory
target/*
.
/target


*.iml

*.pyc

.DS_Store

# Protege 3 project and repository files
*.repository
*.pprj
